<!doctype html>
<html lang="en" data-critters-container>
<head>
    <meta charset="utf-8">
    <title>MsalDemo</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    @RenderSection("headFiles", required: false)
</head>
<body>
    @RenderBody()

    @RenderSection("bodyFiles", required: false)
</body>
</html>